.div {
  height: 120px;
  display: flex;
  background-color: rgb(159, 197, 159);
  height: 120px;
}

.divlogo{
  
  margin-left: 10px;
  height: 120px;
  background-color: white;
  border-radius:5%;
  align-items: center;
}
.logo{
  background-color: rgb(159, 197, 159);
  height: 120px;
  width: 120px;
}
.caja{
  display: flex;
  position: relative;
  align-items: center;
  height: 80px;
  width: 95%;
  padding: 0 10px;
  justify-content:end;
  top:12px
}
.caja select{

  position: relative;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 150px;
  border-radius: 10px;
  user-select: none;
}
.caja option{
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  cursor: pointer;
}

.caja ul {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.caja li {
  float: right;
  font-family:'Times New Roman', Times, serif;
  font-size: 15px;
  cursor: pointer;
  letter-spacing: 0;
  line-height: 28px;
  text-transform: uppercase;
  padding-left: 50px;
  font-weight: 900;
}
.caja span{
  font-family:'Times New Roman', Times, serif;
  font-size: 16px;
  font-weight: 900;
  padding-left: 10px;
}